# Leiningen
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.lein-failures

# IDE
.idea/
*.iml
.vscode/
.calva/
.clj-kondo/
.lsp/

# Temp files
*~
*.swp
*.swo
