<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/template-php-lumen/tests" />
        <option value="$PROJECT_DIR$/AirWaves/tests" />
        <option value="$PROJECT_DIR$/Motiv8/tests" />
        <option value="$PROJECT_DIR$/room-green_test/tests" />
      </list>
    </option>
  </component>
</project>